container_commands:
01_collectstatic:
  command: "pip install -r requirements.txt"
  command: "python3 manage.py collectstatic --noinput"
 
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "Gymnasium.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: Gymnasium.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static